body{
				background: #F5F5F5;
			}
				header {
				position: fixed;
				top: 0;
				z-index: 1000;
				width: 100%;
				height: 5rem;
				background: #36D9D6;
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: space-between;
			}
			
			.back {
				height: 2rem;
				width: 2rem;
				background: url(../../image/back.png)no-repeat;
				background-size: auto 1.6rem;
			}
			
			.title {
				height: 5rem;
				width: calc( 100% - 6rem);
				line-height: 5rem;
				font-size: 1.8rem;
				text-align: center;
				color: #FFFFFF;
			}
			/*报名列表*/
		#focusList{
				width: 100%;
				position: relative;
				top: 6rem;
			}
			#focusList>li{
				height:8rem;
				font-size: 1.8rem;
				margin-bottom: 2px;
				background: #FFFFFF;
				display: flex;
				justify-content: center;
			}
			#focusList>li>.itemIcon{
				width: 6rem;
				height: 6rem;
				margin: 1rem;
			}
			.focusinfo{
				flex: 1;
			height: 6rem;
			margin-top: 1rem;
					margin-right: 0.5rem;
			}
			.focusName{
				height: 3rem;
				line-height: 3rem;
				font-size: 2rem;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.type{
				height: 3rem;
				line-height: 2.4rem;
				font-size: 1.4rem;
				display: flex;text-align: center;
			}
		.certification{
			display: inline-block;
			width: 36%;
			height: 2.4rem;
			margin: 0.3rem 1%;
			background: #FFDD00;
			color: #FFFFFF;
		}
		.team{
			
			display: inline-block;
			width: 48%;
			height: 2.4rem;
			margin: 0.3rem 1%;
			border: 1px solid #C2C2C2;
		}