<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../lib/dateSelect/mobileSelect.css" />
		<link rel="stylesheet" type="text/css" href="../../css/my/editor.css" />
	</head>

	<body>
		<!--顶部标题栏-->
		<!--页面标题-->
		<header>
			<div class="back"></div>
			<div class="title">资料编辑</div>
		</header>

		<ul id="userInfo">
		</ul>
		<div id="userImgSet">
			<div id="usericon">
			<img src="../../image/friendIcon/png_01.png" class=" userIcon imgCurrent" >
			<img src="../../image/friendIcon/png_02.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_03.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_04.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_05.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_06.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_07.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_08.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_09.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_10.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_11.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_12.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_13.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_14.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_15.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_16.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_17.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_18.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_19.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_20.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_21.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_22.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_23.png" class="userIcon"alt="">
			<img src="../../image/friendIcon/png_24.png" class="userIcon"alt="">
		</div>
		<div id="bottomBtn">
			<div id="exit">取消</div>
			<div id="add">确定</div>
		</div>
		</div>

		<script src="../../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/dateSelect/mobileSelect.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/dateSelect/selectDate.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/my/editor.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>