<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/my/wallet.css" />
	</head>

	<body>
		<!--顶部标题栏-->
		<!--页面标题-->
		<header>
			<div class="back"></div>
			<div class="title">我的钱包</div>
			<div class="changeBtn"></div>

		</header>
		<div id="money">
			<div id="moneyNum"></div>
			<div id="moneyText">钱包余额(元)</div>
			<div id="withdrawal">提现</div>
		</div>
		<div id="bill">
			<p id="billTitle">我的账单</p>
			<div id="billListArea">
				<div id="empty"></div>
				<div id="billListBox">
					<ul id="billList"></ul>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/my/wallet.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>