<html>

	<head>
		<title></title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="../../css/app/login.css"/>
	</head>

	<body>
		<!--顶部标题栏-->
		<!--页面标题-->
		<header>
			<div class="back"></div>
			<div class="title">登录</div>
		</header>
		<div id="content">
			<div id="appLogo">
				<img src="../../image/logo.png" />
				<p>兼职门，简直了</p>
			</div>
			<div id="contentInput">
				<div class="input">
					<input type="text" id="userName" value="" placeholder="请输入手机号" />
				</div>
				<div class="input">
					<input type="password" id="password" value="" placeholder="请输入密码" />
					<div class="look"click="0"></div>
				</div>

				<div class="input">
					<div id="login">登录</div>
				</div>

				<div class="input btns">
					<div id="findPwd">忘记密码</div>
					<div class="line"></div>
					<div id="reg">注册账号</div>
				</div>
			</div>
			<div id="bottomArea">
				<div id="bottomTop">
					<div id="bottomLine"></div>
					<div id="title">第三方登录</div>
				</div>
				<div id="item">
					<img src="../../image/QQ_03.png" />
					<img src="../../image/weixin.png" id="wx" />
					<img src="../../image/weibo.png" />
				</div>
			</div>
		</div>

		<script src="../../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/layer/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app/login.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>